html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --active-color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
}
/*-----------------------------------------ШАПКА САЙТА--------------------------------------------*/
.text-link,.text-link-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}


.studio {
    color: #000;
}
.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
/*-----------------------------------------ШАПКА КОНТЕНТУ---------------------------------------*/
.hero {
    background-color: #2f303a;
    text-align: center;
}

.title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--active-color);
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--active-color);
    background-color: #188ce8;
    margin: 0 auto;
}

.button:hover,
.button:focus {
    color: var(--active-color);
    background-color: var(--accent-color);
}
/*-----------------------------------------НАШІ ОСОБЛИВОСТІ--------------------------------------*/
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.title-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.paragraph,.paragraph-address,
.contact-link-address {
    font-family: 'Roboto';
        font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.paragraph-address {
    color: var(--active-color);
}
/*-----------------------------------------ЧИМ МИ ЗАЙМАЄМОСЬ----------------------------------------*/
.title-development,.title-team {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/*-----------------------------------------НАША КОМАНДА----------------------------------------------*/

.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.specialty {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*-----------------------------------------ФІЛЬТРИ ПРОЕКТІВ-------------------------------------------*/
.list-filter {
    display: flex;
    justify-content: center;
    gap: 5px;

}
.list-project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   
}


.button-filter {
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--active-color);
    background-color: var(--accent-color);
}

.title-text-project {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.paragraph-project {
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*-----------------------------------------ПІДВАЛ------------------------------------------------*/
.footer {
    background: #2f303a;
}

.footer-studio {
    color: var(--active-color);
}

.contact-link-address {
    color: rgba(255, 255, 255, 0.6);
}

.contact-link-address:hover,
.contact-link-address:focus {
    color: var(--accent-color);
}
